<nav class="tab-bar navbar show-for-small-only">
    <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" href=""><span></span></a>
    </section>

    <section class="middle tab-bar-section">
        <h1 class="title">TypeScript PDX</h1>
    </section>
</nav>

<aside class="left-off-canvas-menu navbar show-for-small-only">
    {% include navmenu.html %}
</aside>

<div class="large-2 medium-3 column navbar show-for-medium-up">
    <h1 class="text-center"><a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/logo.png" id="logo" alt="{{ site.title }}" /></a></h1>
    {% include navmenu.html %}
</div>