<ul class="side-nav">
    <li><a href="http://www.meetup.com/Portland-TypeScript-Meetup/"><span class="fa fa-meetup"></span> Meetup</a></li>
    <li><a href="https://github.com/portland-typescript-meetup"><span class="fa fa-github"></span> GitHub</a></li>
    <li><a href="https://twitter.com/typescriptpdx"><span class="fa fa-twitter"></span> Twitter</a></li>
    <li class="divider"></li>
    <li {% if page.nav == "speak"%} class="active" {% endif %}>
    	<a href="{{ site.baseurl }}/speak/"><span class="fa fa-microphone"></span> Speak</a>
    </li>
    <li {% if page.nav == "about"%} class="active" {% endif %}>
    	<a href="{{ site.baseurl }}/about/"><span class="fa fa-users"></span> About</a>
    </li>
    <li {% if page.nav == "blog"%} class="active" {% endif %}>
    	<a href="{{ site.baseurl }}/blog/"><span class="fa fa-newspaper-o"></span> Blog</a>
    </li>
    <li>
    	<a href="{{ "/feed.xml" | prepend: site.baseurl }}"><span class="fa fa-rss"></span> RSS</a>
    </li>
    <li {% if page.nav == "slack"%} class="active" {% endif %}>
    	<a href="http://slack.typescriptpdx.com"><span class="fa fa-slack"></span> Slack Invitation</a>
    </li>
</ul>

<h5 class="side-heading">Our Sponsors</h5>
<ul class="side-list">
    <li><a href="http://surescripts.com/"><img src="/images/surescripts.svg" /></a></li>
</ul>

<div class="copyright">
    &copy; 2017 TypeScript PDX
</div>
