.fa-meetup:before {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB+UlEQVQ4T5WTXWsTQRSG3zEQqR80q5jFbkxnk6xpQmLSFu/ErFYQCupWwTtvRPAy+QfJP0hypyAS8E6waS0WhdbGKoJgzIrBWqN2rLayEW0WP4qBONLFrgVFugcGzpx33mfOMDNkQpITQnfX2I5tbgoH8fV7m62Yqxq5F4ks9F8Yoe6+sAM70H4xj9qVMiNPBuI8OKKCf1pxBCC7BbDxWZD6wQO8J9oLdDqOAHC5sPz8LYjeH+O+/T3OzL9Xv3+5DFKNR/k+ZS/23JhyBPl45hjeNT6APIr2cRoS4R2v/BOQy+VQqVSssTGap1SwVwbIw3CYBxQvxIlZW1dVFZRSFAoFCIJg1cvlMjRNs9cYJw7jTaMJcj+kcCUuQRydsUVCiJWn02kUi0Urz2azWOtmPYzTR9B4tgQyEwjxyKAf4vXpvwDrhVQqZaUbj2GcHcJcdRFkigZ57FAQ4rU7NsDj8cA0TXuez+et3Vut1p8Ozh1H/cFrkNv+AE8OhSFenbTFTCZj5WsGxhhKpRJkWUatVkMymbQ04/ww9Ol5kFs+mQ8OxyBevvnfa9R13TZbgIsnUZ2sg4z6KB84GoGLfUan+WVTb8Hl3YkO3YXHd+dASlLvgiJ2UynhR5dn+6YAq61vWHq6iIZhMnJJkhNu/BzbCjj6zj8A1sYW7RevNrCeIMmY/wAAAABJRU5ErkJggg==)
	no-repeat
	left center;
	content: " ";
	display: block;
	width: 16px;
	height: 16px;
}